body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
header input[type="text"]{width: 400px;}
header {
    background-color: navy;
    padding: 15px;
    text-align: center;
}

.Product h1 {
    color: white;
    font-size: 28px;
}

main {
    text-align: center;
    padding: 20px;
}

main h2 {
    color: navy;
}

/* SAME STYLE FOR ALL CARDS */
.card {
    background-color: beige;
    border: 1px solid gray;
    width: 280px;
    height: 400px;
    padding: 90px;
    margin: 18px;
    display: inline-block;
    vertical-align: top;
}

.cardimg {
    width: 200px;
    height: auto;
}

.title {
    color: blue;
    font-size: 22px;
    font-weight: bold;
}

.price {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.card ul {
    text-align: left;
}

.gadget {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
